<div id="article-banner">
  <h2><%- page.title %></h2>
  <p class="post-date"><%- date(page.date, "YYYY-MM-DD") %></p>
  <div class="arrow-down">
    <a href="javascript:;"></a>
  </div>
</div>
<main class="app-body">
</main>
